.titles {
    text-align: center
}
h5{
    display: inline;
    margin: 10px;
}
.thumbnail {
    border-radius: 50%;
    width: 200px
}
html {
    box-sizing: border-box;
}
*,*:before, *:after {
    box-sizing:inherit;
}
.column {
   width: 400px;
   display: inline;
}
.portfolio {
    margin: 10%
}