h4{
    display: inline;
    margin: 10px;
}
.thumbnail {
    border-radius: 50%;
    width: 200px
}
.column {
   width: 200px;
   float:left;
}
.group1 {
    max-width:300px;
    display:inline-block;
    vertical-align: top;
    width: 300px;    
}
.group2 {
    max-width:300px;
    display:inline-block;
    vertical-align: top;
    width: 300px;    
}
.portfolio{
    margin: 10%;
    display:inline-block;
    padding-left:100px;
}

.titles{
    margin-top:50px;
}
.border{
    border-style: solid;
    border-color: #e8b2b1 #1c3b57 #94c9c4;
    border-width:1.5em;
    text-align: center;  
    
    
}
#icon {
    max-height: 30px;
}
.cover{
    display:inline-block;
    
    margin:20px;
}
.right{
    display: inline-block;
    
}
.text{
    word-wrap: break-word;
    width: 400px;
    text-align: center;
    margin:auto; 
    padding-top:40px;
    padding-bottom:40px; 
    display: inline-block;
}
.architecture{
    width:30px;
    display:inline-block;
    vertical-align: middle;
}
.design{
    width:20px;
    padding-left:5px;
    display: inline-block;
    vertical-align: middle
}
.art{
    width:30px;
    display:inline-block;
    vertical-align: middle;
}
.name{
    width:30px;
    display: inline-block;
    vertical-align: middle;
}
main{
    margin:10%;
    display: inline-block;
   
}
.picture{
    vertical-align: top;
    height: 800px;
    margin:0;
    display: inline-block;
    
}