.titles {
    text-align: center
}
h5{
    display: inline;
    margin: 10px;
}
.thumbnail {
    border-radius: 50%;
    width: 200px
}
.column {
   width: 200px;
   float:left;
}
.portfolio{
    margin: 10%;
}